.sidebar {
    margin: 0;
  padding: 0;
  width: 250px;
  /* background-color: #f1f1f1; */
  background-color: white;

  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
    display: block;
  /* color: black; */
  padding: 7px;
  font-size: medium;
  text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    transition: 0.5s;
    border-radius: 25px;
    color: white;

  }

  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
    background-color: #f3f4f9;
    border-radius: 50px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .sidebarLink {
    margin-top: 19vh;
  }
